#main-content .banner-wrapper img {
  width: 100%;
}
#main-content .text-content {
  position: relative;
}
#main-content .tab-lists {
  position: absolute;
  top: 70px;
  left: 0;
  float: left;
}
#main-content .tab-lists a {
  color: white;
}
#main-content .tab-lists a:hover div {
  background-color: #F98047;
}
#main-content .tab-lists div {
  -webkit-box-shadow: 5px 3px 5px 3px #999988;
  -moz-box-shadow: 5px 3px 5px 3px #999988;
  box-shadow: 5px 3px 5px 3px #999988;
  width: 320px;
  height: 43px;
  line-height: 43px;
  font-size: 15px;
  background-color: #f99c38;
  margin-bottom: 44px;
  padding: 0 45px;
  overflow: hidden;
}
#main-content .visible-nav-list {
  background-color: #f99c38;
  color: #fbfffe;
  width: 100%;
  text-align: center;
  z-index: 5;
}
#main-content .visible-nav-list a {
  color: #fbfffe;
}
#main-content .visible-nav-list h4 {
  height: 56px;
  line-height: 56px;
}
#main-content .visible-nav-list p {
  display: none;
  font-size: 15px;
  padding: 10px;
}
#main-content .visible-nav-list span {
  cursor: pointer;
  font-size: 1.2em;
  margin-bottom: 12px;
}
#main-content .text {
  height: 1200px;
  padding: 28px 28px 100px 355px;
}
#main-content .text h3 {
  text-align: center;
  padding: 20px 0;
}
#main-content .text h4 {
  color: #1c1d1d;
  text-align: center;
  font-size: 1.875em;
  padding: 20px 0 20px 0;
  margin-bottom: 40px;
  border-bottom: 2px solid #1c1d1d;
}
#main-content .text p {
  text-rendering: optimizeLegibility;
  color: #555;
  padding: 3px 0;
  line-height: 28px;
}
#main-content .text .underline {
  text-decoration: underline;
  font-weight: bold;
}
@media screen and (max-width: 990px) {
  #main-content .text {
    padding-left: 55px;
  }
}
