#main-content .banner {
  width: 100%;
}
#main-content .banner img {
  width: 100%;
}
#main-content .free-tell {
  text-align: center;
  padding-bottom: 15px;
}
#main-content h3 {
  padding: 50px 0;
  text-align: center;
}
#main-content #product-lists {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 40px;
}
#main-content #product-lists .cart-null {
  display: none;
  padding: 50px 0;
  text-align: center;
}
#main-content #product-lists .cart-null i {
  font-size: 2.4em;
  color: #000;
}
#main-content #product-lists .cart-null p {
  padding: 30px 0 18px 0px;
}
#main-content #product-lists .total-price {
  padding-top: 20px;
  text-align: center;
}
#main-content #product-lists .total-price a {
  letter-spacing: .2em;
}
#main-content #product-lists .total-price a span {
  padding-right: .5em;
}
#main-content #product-lists .list {
  border-bottom: 1px solid lightgrey;
  padding: 25px 0;
}
#main-content #product-lists .list .media {
  width: 50%;
  float: left;
}
#main-content #product-lists .list .media .media-left a img {
  width: 120px;
}
#main-content #product-lists .list .media .media-body {
  padding-left: 28px;
  vertical-align: middle;
}
#main-content #product-lists .list .quantity {
  float: right;
  padding-top: 46px;
}
#main-content #product-lists .list .quantity div {
  float: left;
  padding: 0 5px;
}
#main-content #product-lists .list .quantity .deal-count {
  overflow: hidden;
  border: 1px solid #000;
  width: 120px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 32px;
  margin-top: -5px;
}
#main-content #product-lists .list .quantity .deal-count input {
  width: 48px;
  display: block;
  float: left;
  height: 100%;
  border: none;
  text-align: center;
}
#main-content #product-lists .list .quantity .deal-count span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  line-height: 26px;
  display: block;
  float: left;
  height: 100%;
  width: 30px;
  cursor: pointer;
  font-size: 20px;
}
#main-content #product-lists .list .quantity .delete-cart-btn {
  cursor: pointer;
  font-size: 1.4em;
  margin-top: -4px;
}
#main-content #product-lists .list .quantity .delete-cart-btn:hover {
  color: #f9b552;
}
#main-content #product-lists .list:first-of-type {
  border-top: 1px solid lightgrey;
}
#modal {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 300;
  position: fixed;
  top: 0;
  left: 0;
}
#modal .box {
  padding: 0 20px;
  width: 440px;
  height: 240px;
  background-color: #fff;
  border-radius: 20px;
  margin: 20% auto;
  text-align: center;
}
#modal .box p {
  padding: 50px 0 30px 0;
  font-size: 23px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#modal .box .btn {
  font-size: 18px;
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (max-width: 768px) {
  #main-content #product-lists .list .media {
    width: 100%;
    float: none;
  }
  #main-content #product-lists .list .quantity {
    float: none;
    padding-top: 20px;
  }
  #model .box {
    margin: 36% auto;
  }
}
@media screen and (max-width: 480px) {
  #model .box {
    margin: 50% auto;
  }
}
