#main {
  padding-bottom: 50px;
}
#main h3 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px solid #1c1d1d;
}
#main h4 {
  color: #1c1d1d;
  font-size: 1.875em;
  padding: 40px 0 20px 0;
}
#main p {
  text-rendering: optimizeLegibility;
  color: #555;
  padding: 3px 0;
  line-height: 28px;
}
#main .underline {
  text-decoration: underline;
  font-weight: bold;
}
