#main-content {
  background-color: #ecedef;
}
#main-content .main-inner {
  width: 94%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}
#main-content .main-inner .search {
  padding: 65px 0;
  text-align: center;
}
#main-content .main-inner .search div {
  display: inline-block;
}
#main-content .main-inner .search input {
  float: left;
  height: 5rem;
  font-size: 4rem;
  padding: 0 1rem;
  border: none;
}
#main-content .main-inner .search input:last-child {
  background-color: #f9b552;
  color: #ecedef;
}
#main-content .main-inner .content {
  width: 96%;
}
#main-content .main-inner .content .product-inner {
  width: 96%;
  background-color: #fff;
}
#main-content .main-inner .content .product-inner img {
  width: 100%;
}
#main-content .main-inner .content .product-inner h5,
#main-content .main-inner .content .product-inner p {
  text-align: left;
  width: 90%;
  margin: 0 auto;
}
#main-content .main-inner button {
  background-color: #f9b552;
  margin: 20px auto;
  padding: 10px 15px;
}
@media screen and (max-width: 768px) {
  #main-content .main-inner .search input {
    height: 1.9rem;
    font-size: 1.1rem;
    padding: 0 .7rem;
  }
}
